.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  background-color: #f7f9fc;
}

.login-form .image-uploader{
  width: 160px;
  text-align: center;
  position: relative;
}

.login-form .image-uploader:hover .choose-file{
  visibility: visible;
}

.image-uploader .choose-file{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  visibility: hidden;
}

.image-uploader input[type="file"] {
  visibility: hidden;
  position: absolute;
}

.choose-file{
  font-size: 12px;
}

.choose-file label{
  margin: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.login-form .image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


.login-form input[type="text"] {
  border: 0px;
  padding: 5px 25px;
  background-color:#fff ;
  border: 1px solid #e5ebf2;
  width:200px;
  font-size: 15px;
  margin-top: 16px;
  text-align: center;
}

.login-form input[type="text"]:focus {
  outline: none;
}

.login-form button {
  border: 0px;
  border-radius: 5px;
  color: #fff;
  background-color: #1b63f1;
  cursor: pointer;
  padding: 5px 25px;
  margin-top: 16px;
  width:200px;
}

.login-form button:hover{
  background-color:#062563 ;
}