.chat-box .display-message{
  border: 2px solid rgb(0, 17, 255);
  height: 550px;
  padding: 10px;
  background-color: #f4f6fb;
  border-radius: 8px 8px 0px 0px;
  overflow-y: scroll;
}

.display-message .msg-container{
  border:1px solid green;
  display: flex;
  flex-direction: column;
}