.chat-box .display-message{
  margin-top:10px;
  margin-left:5px;
  margin-right:10px;
  height: 530px;
  padding: 10px;
  background-color: #f4f6fb;
  border-radius: 8px 8px 0px 0px;
  overflow-y: scroll;
}

.display-message .msg-container{
  display: flex;
  flex-direction: column;
}